<div>
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Release Date</th>
          <th>Vote Count</th>
          <th>Original Language</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movieList;">
          <td>
              <span *ngIf="currentEditableMovieId!=movie.id" class="movie-title">{{movie.title}}</span>
              <span *ngIf="currentEditableMovieId==movie.id"><input type="text" class="form-control" [(ngModel)]="movie.title"/></span>
          </td>
          <td>
              <span *ngIf="currentEditableMovieId!=movie.id">{{movie.release_date}}</span>
              <span *ngIf="currentEditableMovieId==movie.id"><input type="text" class="form-control" [(ngModel)]="movie.release_date"/></span>
          </td>
          <td>
              <span>{{movie.vote_count}}</span>
          </td>
          <td>
              <span>{{movie.original_language}}</span>
          </td>
          <td class="action-list">
              <span *ngIf="currentEditableMovieId!=movie.id" class="glyphicon glyphicon-pencil" (click)="editRow(movie.id)"></span>
              <span *ngIf="currentEditableMovieId==movie.id" class="glyphicon glyphicon-ok" (click)="saveChanges(movie.id)"></span>
              <span class="glyphicon glyphicon-edit" (click)="gotoMovieDetail(movie.id)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


