<div>
    <div class="col-md-12 row" style="margin-top: 5px;">
        <div  class="col-md-4" ><h4>Title</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.title"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Popularity</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.popularity"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Original Title</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.original_title"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Release Date</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.release_date"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Vote Count</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.vote_count"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Video</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="checkbox" [(ngModel)]="selectedMovieDetail.video"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>adult</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="checkbox" [(ngModel)]="selectedMovieDetail.adult"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Vote Average</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.vote_average"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4"><h4>Original Language</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.original_language"/>
        </div>
    </div>
    <div class="col-md-12" style="height: 130px;">
        <span><h5>Overview:</h5></span>
        <textarea class="form-control" rows="4" [(ngModel)]="selectedMovieDetail.overview"></textarea>   
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" style="margin-top:10px;" (click)="saveMovieChanges()">Save</button>
    </div>
</div>