<div class="edit-movie-background">
    <div class="col-md-12 row">
      <div class="col-md-6">
        <md-card class="card">
             <md-input-container class="card-input">
                <input mdInput placeholder="Title" [(ngModel)]="selectedMovieDetail.title" >
             </md-input-container>
        </md-card>
        <md-card class="card">
             <md-input-container class="card-input">
                <input mdInput placeholder="Popularity" [(ngModel)]="selectedMovieDetail.popularity">
             </md-input-container>
        </md-card>
        <md-card class="card">
             <md-input-container class="card-input">
                <input mdInput placeholder="Vote Count" [(ngModel)]="selectedMovieDetail.vote_count" >
             </md-input-container>
        </md-card>
        <md-card class="card">
            <input type="checkbox" [(ngModel)]="selectedMovieDetail.video"/>
            <span class="param-name"><b>Video</b></span>
        </md-card>
        <md-card class="card">
             <md-input-container class="card-input">
                <input mdInput placeholder="Release Date" [(ngModel)]="selectedMovieDetail.release_date" >
             </md-input-container>
        </md-card>
      </div>
      
      
      
      <div class="col-md-6">
        <md-card class="card">
             <md-input-container class="card-input">
                <input mdInput placeholder="Original Title" [(ngModel)]="selectedMovieDetail.original_title" >
             </md-input-container>
        </md-card>
        <md-card class="card">
             <md-input-container class="card-input">
                <input mdInput placeholder="Orignal Language" [(ngModel)]="selectedMovieDetail.original_language">
             </md-input-container>
        </md-card>
        <md-card class="card">
             <md-input-container class="card-input">
                <input mdInput placeholder="Vote Average" [(ngModel)]="selectedMovieDetail.vote_average">
             </md-input-container>
        </md-card>
        <md-card class="card">
            <input type="checkbox" [(ngModel)]="selectedMovieDetail.adult"/>
            <span class="param-name"><b>Adult</b></span>
        </md-card>
      </div>
    </div>
</div>
<div class="col-md-12">
    <md-card class="overview-card">
        <span class="overview-title"><b>Overview:</b></span>
         <textarea class="form-control" rows="4" [(ngModel)]="selectedMovieDetail.overview"></textarea>
    </md-card>
</div>
<div class="col-md-12">
        <button type="button" class="btn btn-primary save-movie-button" (click)="saveMovieChanges()">Save</button>
</div>





<!--<div>
    <div class="col-md-12 row movie-title">
        <div  class="col-md-4" ><h4>Title</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.title"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Popularity</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.popularity"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Original Title</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.original_title"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Release Date</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.release_date"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Vote Count</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.vote_count"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Video</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="checkbox" [(ngModel)]="selectedMovieDetail.video"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>adult</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="checkbox" [(ngModel)]="selectedMovieDetail.adult"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4" ><h4>Vote Average</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.vote_average"/>
        </div>
    </div>
    <div class="col-md-12 row">
        <div  class="col-md-4"><h4>Original Language</h4></div>
        <div class="col-md-1"><h4>:</h4></div>
        <div class="col-md-7" >
            <input type="text" class="form-control" [(ngModel)]="selectedMovieDetail.original_language"/>
        </div>
    </div>
    <div class="col-md-12 movie-overview">
        <span><h5>Overview:</h5></span>
        <textarea class="form-control" rows="4" [(ngModel)]="selectedMovieDetail.overview"></textarea>   
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-primary save-movie-button" (click)="saveMovieChanges()">Save</button>
    </div>
</div>-->