.back-button {
    margin:20px;
}
.detail-view {
    margin:20px 0px;
    margin-top:60px;
}

.movie-title-panel {
    margin-bottom:50px;
}

.movie-title {
    border:solid grey 2px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 574px;
    overflow: auto;
    background-color: rgba(154, 142, 142, 0.32);
}


.poster-image {
        padding: 20px;
}

.highlight-title{
    color: #3636E8;
    font-size: 16px;
}

.item-list {
        background-color:rgba(171, 156, 247, 0.56);
        cursor: pointer;
}

.md-card{
    padding: 0px;
}

.movies-list {
    height: 100%;
    width: 100%;
    overflow:auto;
    background-color: #C9C4FA;
}

.detail-pane {
    background-color:#D0C8F5;
    height: 100%;
    width: 100%;
}

.detail-background {
    background-color: rgba(171, 156, 247, 0.24);
}