<div  class="col-md-12" class="detail-view" *ngIf="selectedMovieDetail">
    <div>
        <button type="button" (click)="getBackToListView()" class="btn btn-primary pull-right back-button">Back</button>
    </div>
    <div class="col-md-12 movie-title-panel">
        <div class="col-md-3 movie-title">
            <ul *ngFor="let movie of movieList" class="movie-list" (click)="getMovieDetail(movie.id)">
                <li [class.highlight-title]="movie?.id == selectedMovieDetail?.id">{{movie.title}}</li>
                <hr>
            </ul>
        </div>
        <div class="col-md-9 movie-detail-panel">
            <div class="col-md-12">
                <div class="col-md-9">
                    <div *ngIf="!selectedMovieDetail?.isEditableInDetailView">
                        <show-movie-detail [selectedMovieDetail]="selectedMovieDetail"
                                           (editMovieDetail)="editMovieDetail($event)"></show-movie-detail>
                    </div>
                    <div *ngIf="selectedMovieDetail?.isEditableInDetailView">
                        <edit-movie-detail [selectedMovieDetail]="selectedMovieDetail"
                                           (saveMovieDetail)="saveMovieDetail($event)"></edit-movie-detail>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="poster-image" src="http://image.tmdb.org/t/p/w185{{selectedMovieDetail?.poster_path}}"/>
                </div>
            </div>
        </div>
    </div>
</div>