<div  class="col-md-12" class="detail-view" *ngIf="selectedMovieDetail">
    <div>
        <button type="button" (click)="getBackToListView()" class="btn btn-primary pull-right" style="margin:20px">Back</button>
    </div>
    <div class="col-md-12 movie-title-panel">
        <div class="col-md-3 movie-title">
            <ul *ngFor="let movie of movieList" (click)="getMovieDetail(movie.id)">
                <li style="cursor:pointer;" [class.highlight-title]="movie?.id == selectedMovieDetail?.id">{{movie.title}}</li>
                <hr>
            </ul>
        </div>
        <div class="col-md-9 movie-detail-panel">
            <div class="col-md-12">
                <div class="col-md-9">
                    <div *ngIf="!selectedMovieDetail?.isEditableInDetailView">
                        <show-movie-detail [selectedMovieDetail]="selectedMovieDetail"></show-movie-detail>
                    </div>
                    <div *ngIf="selectedMovieDetail?.isEditableInDetailView">
                        <edit-movie-detail [selectedMovieDetail]="selectedMovieDetail"></edit-movie-detail>
                    </div>
                </div>
                <div class="col-md-3">
                    <img style="padding-top: 20px;" src="http://image.tmdb.org/t/p/w185{{selectedMovieDetail?.poster_path}}"/>
                </div>
            </div>
            <div class="col-md-12" style="height: 130px;">
                <span><h5>Overview:</h5></span>
                <div *ngIf="!selectedMovieDetail?.isEditableInDetailView">{{selectedMovieDetail?.overview}}</div>
                <textarea *ngIf="selectedMovieDetail?.isEditableInDetailView" class="form-control" rows="4" [(ngModel)]="selectedMovieDetail.overview"></textarea>   
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" *ngIf="!selectedMovieDetail?.isEditableInDetailView" (click)="editMovieDetail(selectedMovieDetail?.id)">Edit</button>
                <button type="button" class="btn btn-primary" *ngIf="selectedMovieDetail?.isEditableInDetailView" style="margin-top:10px;" (click)="saveMovieDetail()">Save</button>
            </div>
        </div>
    </div>
</div>