<div class="header">
  <toaster-container></toaster-container>
  <md-card>
      <div>
        <div class="header-image-field">
          <img class="header-image" src="http://t03.deviantart.net/ggqt5W-Z7dX7fNLA-4kNWCncFzM=/300x200/filters:fixed_height(100,100):origin()/pre03/7bdb/th/pre/f/2013/287/1/0/ticket_movie_icon_by_quaffleeye-d6qj6e1.png"/>
        </div>
        <div class="header-title">
           Mega Movies
        </div>
        <div class="search-field">
          <md-input-container>
            <input mdInput placeholder="SEARCH" value="">
          </md-input-container>
        </div>
      </div>
  </md-card>
  <movie-list [movieList]="movies" 
              (showMovieDetail)="showMovieDetail($event)"
              [hidden]="currentActivatedView=='detailView'"
              (updateMovieDetail)="updateMovieDetail($event)"
              (editMovie)="editMovie($event)"></movie-list>
  <movie-detail [movieList]="movies" 
                [selectedMovieObject]="selectedMovieObject"
                [hidden]="currentActivatedView=='listView'"
                (toggleView)="toggleView()"
                (updateMovieDetail)="updateMovieDetail($event)"
                (editMovie)="editMovie($event)"></movie-detail>
</div>
