<div>
  <toaster-container></toaster-container>
  <div class="jumbotron" style="text-align:center;color:#363684">
    <h2>Movie Detail Webapp</h2>
  </div>
  <movie-list [movieList]="movies" 
              (showMovieDetail)="showMovieDetail($event)"
              [hidden]="currentActivatedView=='detailView'"
              (updateMovieDetail)="updateMovieDetail($event)"></movie-list>
  <movie-detail [movieList]="movies" 
                [selectedMovieObject]="selectedMovieObject"
                [hidden]="currentActivatedView=='listView'"
                (toggleView)="toggleView()"
                (updateMovieDetail)="updateMovieDetail($event)"></movie-detail>
</div>
