<div class="col-md-12">
  <div class="col-md-12">
    <table class="table table-striped spread-sheet-view">
      <thead>
        <tr class="movie-list">
          <th>Movie Title</th>
          <th>Release Date</th>
          <th>Vote Count</th>
          <th>Original Language</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movieList;" class="movie-list">  
          <td style="vertical-align: middle;text-align: left;">
              <span *ngIf="!movie.isEditableInListView" class="movie-title">{{movie.title}}</span>
              <span *ngIf="movie.isEditableInListView"><input type="text" class="form-control" [(ngModel)]="movie.title"/></span>
          </td>
          <td>
              <span *ngIf="!movie.isEditableInListView">{{movie.release_date}}</span>
              <span *ngIf="movie.isEditableInListView"><input type="text" class="form-control" [(ngModel)]="movie.release_date"/></span>
          </td>
          <td>
              <span>{{movie.vote_count}}</span>
          </td>
          <td>
              <span>{{movie.original_language}}</span>
          </td>
          <td class="action-list" style="vertical-align: middle;text-align: center;">
              <span *ngIf="!movie.isEditableInListView" (click)="editRow(movie.id)" title="Edit"><md-icon>edit</md-icon></span>
              <span *ngIf="movie.isEditableInListView"  (click)="saveChanges(movie.id)" title="Save"><md-icon>save</md-icon></span>
              <span (click)="gotoMovieDetail(movie.id)" title="Detail"><md-icon>send</md-icon></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


