<div class="detail-background">
    <div class="col-md-12 row">
      <div class="col-md-6">
        <md-card class="card">
            <div>
              <div>
                <b>Title</b>
              </div>
              <div class="text-overflow-dot">
                <span [title]="selectedMovieDetail?.title">{{selectedMovieDetail?.title}}</span>
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Popularity</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.popularity}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Vote Count</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.vote_count}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Video</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.video}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Release Date</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.release_date}}
              </div>
            </div>
        </md-card>
      </div>
      <div class="col-md-6">
        <md-card class="card">
            <div>
              <div>
                <b>Orignal Title</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.original_title}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Orignal Language</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.original_language}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Vote Average</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.vote_average}}
              </div>
            </div>
        </md-card>
        <md-card class="card">
            <div>
              <div>
                <b>Adult</b>
              </div>
              <div class="text-overflow-dot">
                {{selectedMovieDetail?.adult}}
              </div>
            </div>
        </md-card>
      </div>
      <div class="col-md-12 movie-overview">
           <md-card class="overview-card">
              <span class="overview-title"><b>Overview:</b></span>
              <div>{{selectedMovieDetail?.overview}}</div>
           </md-card>
      </div>
      <div class="col-md-12 edit-button">
          <button type="button" class="btn btn-primary" (click)="editMovie(selectedMovieDetail?.id)">Edit</button>
      </div>
    </div>
</div>



<!--<div>
<div class="col-md-12 row">
  <div  class="col-md-4" ><h4>Title</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values">
    <h4><span>{{selectedMovieDetail?.title}}</span></h4>
  </div>
</div>

 <div class="col-md-12 movie-overview">
    <span><h5>Overview:</h5></span>
    <div>{{selectedMovieDetail?.overview}}</div>
</div>
<div class="col-md-12">
    <button type="button" class="btn btn-primary" (click)="editMovie(selectedMovieDetail?.id)">Edit</button>
</div>
</div>-->

<!--
<div>
<div class="col-md-12 row">
  <div  class="col-md-4" ><h4>Title</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values">
    <h4><span>{{selectedMovieDetail?.title}}</span></h4>
  </div>
</div>
<div class="col-md-12 row">
  <div  class="col-md-4" ><h4>Popularity</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values" >
    <h4>{{selectedMovieDetail?.popularity}}</h4>
  </div>
</div>
<div class="col-md-12 row">
  <div  class="col-md-4" ><h4>Original Title</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values" >
    <h4>{{selectedMovieDetail?.original_title}}</h4>
  </div>
</div>
<div class="col-md-12 row">
  <div  class="col-md-4" ><h4>Release Date</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values" >
    <h4>{{selectedMovieDetail?.release_date}}</h4>
  </div>
</div>
<div class="col-md-12 row">
  <div  class="col-md-4" ><h4>Vote Count</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values" >
    <h4>{{selectedMovieDetail?.vote_count}}</h4>
  </div>
</div>
<div class="col-md-12 row">
  <div  class="col-md-4" ><h4>Video</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values" >
    <h4>{{selectedMovieDetail?.video}}</h4>
  </div>
</div>
<div class="col-md-12 row">
  <div  class="col-md-4" ><h4>adult</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values" >
    <h4>{{selectedMovieDetail?.adult}}</h4>
  </div>
</div>
<div class="col-md-12 row">
  <div  class="col-md-4" ><h4>Vote Average</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values" >
    <h4>{{selectedMovieDetail?.vote_average}}</h4>
  </div>
</div>
<div class="col-md-12 row">
  <div  class="col-md-4"><h4>Original Language</h4></div>
  <div class="col-md-1"><h4>:</h4></div>
  <div class="col-md-7 movie-detail-values" >
    <h4>{{selectedMovieDetail?.original_language}}</h4>
  </div>
</div>
 <div class="col-md-12 movie-overview">
    <span><h5>Overview:</h5></span>
    <div>{{selectedMovieDetail?.overview}}</div>
</div>
<div class="col-md-12">
    <button type="button" class="btn btn-primary" (click)="editMovie(selectedMovieDetail?.id)">Edit</button>
</div>
</div>-->